Pillow
UnityPy
requests
mutagen

# 以下是自己的环境
archspec==0.2.5
astc-encoder-py==0.1.12
attrs==25.4.0
brotli==1.2.0
etcpak==0.9.15
fsspec==2025.10.0
lz4==4.4.5
numpy==2.0.2
pyfmodex==0.7.2
texture2ddecoder==1.0.5

PySocks
brotlicffi
certifi
cffi
charset-normalizer
idna
pycparser
urllib3
win_inet_pton


